.bulk-section {
  height: max-content;
  min-height: 80vh;
  background-image: url("https://cdn.pixabay.com/photo/2014/04/05/11/27/buffet-315691_960_720.jpg ");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: relative;
  flex-wrap: wrap;
}
.bulk-section::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.349);
}
.inner-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 4rem;
  flex-wrap: wrap;
  text-align: center;
}
.inner-container > p {
  padding: 1rem 4rem;
}
.inner-container > H2 {
  padding: 1rem 2rem;
  color: #fccf3f;
}
@media only screen and (max-width: 900px) {
  .inner-container {
    padding: 0.5rem 1rem;
  }
  .inner-container > H2 {
    padding: 0.5rem 1rem;
  }
  .inner-container > p {
    padding: 0.5rem 1rem;
  }
}
