.bulk-section {
  height: 90vh;
  background-image: url("https://images.unsplash.com/photo-1539755530862-00f623c00f52?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Glass-container {
  position: relative;
  width: 70vw;
  height: 50vh;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Glass-container h2 {
  font-size: 3rem;
  text-transform: uppercase;
}
.Glass-container p {
  font-size: larger;
  color: #ffffff;
  padding: 1rem 2rem;
  margin-top: 1rem;
}
@media only screen and (max-width: 900px) {
  .Glass-container h2 {
    font-size: 2rem;
  }
  .Glass-container p {
    font-size: medium;
  }
  .Glass-container {
    width: 70vw;
    height: 70vh;
  }
}
