.aboutus-hero {
  height: 70vh;
  background-image: url("/src/images/5M4A9842.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.aboutus-philo {
  height: fit-content;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.philosop-section {
  width: 80vw;
  height: 100%;
}
.About-ourfood {
  text-align: center;
  background-color: #ae0d12;
}
.ourfood-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1.5rem;
}
.ourfood-container img {
  height: 150px;
  width: 150px;
}
.outfood-txt {
  width: 50%;
  height: 50%;
}
.outfood-txt h3 {
  font-size: 2rem;
  margin: 1rem auto;
  border-bottom: 2px solid black;
  padding-bottom: 0.5rem;
}
.right {
  order: 2;
}
.About-ourfood-textcontent {
  width: 80%;
  margin: 0px auto;
  padding: 2rem;
}
.About-ourfood {
  width: auto;
  padding: 2.5rem;
  margin: 0px auto;
}
.section-heading {
  width: 80%;
  margin: 0px auto;
  padding: 2rem 1rem;
  position: relative;
}
.section-textcontent {
  width: 80%;
  margin: 0px auto;
  text-align: left;
  padding: 1rem;
}
.aboutus-carousel-container {
  width: 70%;
  margin: 0px auto;
}
@media only screen and (max-width: 900px) {
  .philosop-section {
    width: 100vw;
  }
  .About-ourfood-textcontent {
    padding: 1rem;
    width: 100%;
  }
  .aboutus-carousel-container {
    width: 100%;
    min-height: 50vh;
  }
  .section-heading {
    width: 100%;
    margin: 0px auto;
    padding: 2rem 0.5rem;
  }
  .section-textcontent {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .outfood-txt h3 {
    font-size: 1.5rem;
    margin: 0.5rem auto;
  }
  .ourfood-container img {
    height: 120px;
    width: 120px;
  }
}
