.footer {
  height: 20vh;
  max-height: fit-content;
  background-color: #ae0d12;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.footer p {
  padding-left: 10px;
  font-size: 1rem;
}
.socials a {
  color: white;
  margin: 0px auto;
  padding: 0px 10px;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 600;
}
.socials {
  align-self: center;
  margin: 1rem auto;
  position: relative;
}
@media only screen and (max-width: 900px) {
  .footer {
    flex-direction: column;
  }
  .socials {
    padding-left: 1rem;
  }
}
