.footer {
  height: 10vh;
  background-color: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.footer p {
  padding-left: 10px;
  font-size: 1rem;
}
.socials a {
  color: white;
  padding-right: 0.8rem;
  font-size: 1.5rem;
  text-decoration: none;
}
.socials {
  align-self: center;
  padding-left: 3rem;
}
@media only screen and (max-width: 900px) {
  .footer {
    flex-direction: column;
  }
  .socials {
    padding-left: 1rem;
    order: -1;
  }
  .socials a {
    font-size: 1.2rem;
  }
}
