.footer {
  background-color: #ae0d12;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.footer-sub {
  width: 80%;
  margin: 0px auto;
  text-align: center;
  display: flex;
}
.footer p {
  padding: 0.5rem;
  font-size: 1rem;
  margin: 0px auto;
}
.socials a {
  color: white;
  margin: 0px auto;
  padding: 0px 10px;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 600;
}
.socials {
  align-self: center;
  margin: 1rem auto;
  position: relative;
}
.footer-copyright {
  margin: 1rem auto 1rem 10%;
}
@media only screen and (max-width: 900px) {
  .footer {
    flex-direction: column;
  }

  .footer-sub {
    flex-direction: column-reverse;
  }
}
