.Menu-rateings {
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #171717;
  padding: 3rem 0;
}
.Menu-rateings h2 {
  margin: 1rem auto;
}
.popular-section {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 200px;
}
.glass {
  flex: 1;
  margin: 0px 0.5rem;
}
.one {
  background-image: url("https://images.unsplash.com/photo-1608847569619-b5602f65ffa0?ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDE0fHhqUFI0aGxrQkdBfHxlbnwwfHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
}
.two {
  background-image: url("https://images.unsplash.com/photo-1579888944880-d98341245702?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTB8fGtlYmFic3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
}
.three {
  background-image: url("https://images.unsplash.com/photo-1585297099535-d5f84e833797?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80");
  background-size: cover;
  background-position: center;
}
